<launch>

<node pkg="ros_turtle" type="turtle_todo" name="turtle_todo" output="screen">
</node>

<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen">
  <param name="background_r" value="0.0"/>
  <param name="background_g" value="225.0"/>
  <param name="background_b" value="225.0"/>
</node>

</launch>
